/*
** SLIDER
*/

.b-slider {
    position: relative;
    top: -39px;
    z-index: 1;

    &:after {
        content: '';
        display: block;
        @include sprite($icon-circle-cloud);
        position: absolute;
        left: 50%;
        bottom: -46px;
        transform: translateX(-50%);
        z-index: 2;
    }

    // one slide : begin
    &__item {
        height: 520px;
        position: relative;
        background: $color-blue-dark url("../img/slider/1.png") center center no-repeat;
    }

    &-item {
        width: 100%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;

        // top block : begin
        &__top {
            display: flex;
            position: relative;
            z-index: 2;
            justify-content: left;
            margin: 0 0 130px;
        }
        // top block : end

        // bottom : begin
        &__bottom {
            position: relative;
            z-index: 2;
            padding-bottom: 108px;
        }
        // bottom : begin
    }
    // one slide : end

    // circles week : begin
    &__circles-weeks {
        width: 640px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: left;
        margin: 5px 0 0 0;

        // one item
        &-item {
            text-align: center;
            width: 25%;
        }

        // title
        &-title {
            color: $color-white-3;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.666;
            margin: 0 0 4px;
        }

        // link
        &-link {}

        // text
        &-text {
            color: $color-white-3;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.428;
        }
    }
    // circles week : end

    // social services : begin
    &__social-services {
        width: 160px;
        padding-left: 57px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        margin: 80px 0 0 0;

        &-vk {
            display: block;
            @include sprite($icon-vk);
            margin: 0 0 10px;
        }

        &-facebook {
            display: block;
            @include sprite($icon-facebook);
            margin: 0 0 10px;
        }

        &-youtube {
            display: block;
            @include sprite($icon-youtube);
        }
    }
    // social services : end

    // title
    &__title {
        text-shadow: -1px 3px 0 rgba(13, 17, 30, 0.3);
        color: $color-white-3;
        font-family: $title-font;
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin: 0 0 21px;
    }

    // text
    &__text {
        width: 100%;
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        text-shadow: -2px 5px 5px rgba(13, 17, 30, 0.75);
        color: $color-white;
        font-family: $text-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.428;
    }
}