.b-form {
    input[type="hidden"] {
        width: 0 !important;
        height: 0 !important;
        border: none !important;
        outline: none !important;
    }

    // default input
    @mixin defaultInput($placeholderColor: $color-gray) {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 1px solid $color-white;
        background-color: $color-white-3;
        padding: 11px 11px 10px;
        border-radius: 5px;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        color: $color-blue-dark;
        position: relative;
        //transition: all 0.24s ease-out;

        &:focus {
            outline: none;
            //transition: all 0.24s ease;
        }

        &::-webkit-input-placeholder {
            color: $placeholderColor;
        }
        &::-moz-placeholder {
            color: $placeholderColor;
        }
        // Firefox 19+
        &:-moz-placeholder {
            color: $placeholderColor;
        }
        // Firefox 18-
        &:-ms-input-placeholder {
            color: $placeholderColor;
        }

        &:focus::-webkit-input-placeholder {
            color: transparent
        }
        &:focus::-moz-placeholder {
            color: transparent
        }
        &:focus:-moz-placeholder {
            color: transparent
        }
        &:focus:-ms-input-placeholder {
            color: transparent
        }
    }

    // default textarea
    @mixin defaultTextarea($placeholderColor: #8c8c8c) {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 1px #cecece solid;
        padding: 6px 10px;
        border-radius: 1px;
        display: block;
        font-size: 14px;
        line-height: normal;
        transition: all 0.24s ease-out;
        resize: vertical;

        &:focus {
            outline: none;
            //box-shadow: 0 0 5px 1px rgba(#000, 0.2);
            transition: box-shadow 0.24s ease;
        }

        &::-webkit-input-placeholder {
            color: $placeholderColor;
            padding: 1px 0 0 0;
        }
        &::-moz-placeholder {
            color: $placeholderColor;
            padding: 1px 0 0 0;
        }
        // Firefox 19+
        &:-moz-placeholder {
            color: $placeholderColor;
            padding: 1px 0 0 0;
        }
        // Firefox 18-
        &:-ms-input-placeholder {
            color: $placeholderColor;
            padding: 1px 0 0 0;
        }

        &:focus::-webkit-input-placeholder {
            color: transparent
        }
        &:focus::-moz-placeholder {
            color: transparent
        }
        &:focus:-moz-placeholder {
            color: transparent
        }
        &:focus:-ms-input-placeholder {
            color: transparent
        }

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    // all text inputs
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"] {
        @include defaultInput;
    }

    // textarea
    textarea {
        @include defaultTextarea;
    }

    label,
    legend {
        display: block;
    }

    fieldset {
        padding: 0;
        border-width: 0;
    }

    // checkbox : begin
    &__checkbox {
    }
    // checkbox : end

    // radio : begin
    &__radio {
    }
    // radio : end

    // file : begin
    &__file {
    }
    // file : end
}