<div class="b-banner">
    <div class="b-banner__item">
        <div class="b-banner-item">

            <h1 class="b-banner__title">Жидкости Vape Temple</h1>
            <div class="b-banner__series">
                <span>Серия</span>
                <img src="../dist/img/banner/series-1.png" alt="">
            </div>
            <p class="b-banner__text">В начале июля, в чрезвычайно жаркое время, под вечер, один молодой человек вышел из своей каморки, которую нанимал от жильцов в С-м переулке, на улицу и медленно, как.</p>

        </div>
    </div>
</div>