<div class="b-cafe-descr">

    <!-- title -->
    <h2>Наше вейп-кафе &mdash; это:</h2>

    <!-- wrapper : begin -->
    <div class="b-cafe-descr__wrapper">

        <!-- one item : begin -->
        <div class="b-cafe-descr__item">
            <img src="../dist/img/cafe-descr/1.png" alt="">
            <p>наименований товаров:<br>электронных сигарет,<br>жидкостей, аромы,<br>основ, флаконоы, etc.<br>в нашем магазине</p>
        </div>
        <!-- one item : end -->

        <!-- one item : begin -->
        <div class="b-cafe-descr__item">
            <img src="../dist/img/cafe-descr/2.png" alt="">
            <p>для общения,  намоток<br>и, конечно, парения.<br>Уютные столики и<br>диваны, чтобы вам было<br>комфортно.</p>
        </div>
        <!-- one item : end -->

        <!-- one item : begin -->
        <div class="b-cafe-descr__item">
            <img src="../dist/img/cafe-descr/3.png" alt="">
            <p>сервисный центр,<br>в котором вы можете<br>починить свой<br>непослушный девайс</p>
        </div>
        <!-- one item : end -->

    </div>
    <!-- wrapper : end -->

</div>