/*
** OUR LIQUID
*/

.b-our-liquid {
    background: url("../img/our-liquid/1.png") no-repeat center top;
    background-size: cover;
    padding: 70px 0 0;
    height: 445px;
    overflow: hidden;

    // inner wrapper
    &__inner-wrapper {
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }

    // images : begin
    &__images {
        margin: 0 25px 0 0;
        width: 630px;

        img {}
    }
    // images : end

    // text : begin
    &__text {
        text-align: right;
        width: 310px;

        h2 {
            text-shadow: -1px 3px 0 rgba(13, 17, 30, 0.3);
            color: $color-white-3;
            font-family: $title-font;
            font-weight: 400;
            font-size: 23px;
            line-height: 30px;
            margin: 0 0 26px;
        }

        img {
            display: block;
            margin: 0 0 10px;
        }

        p {
            text-shadow: -2px 5px 5px rgba(13, 17, 30, 0.75);
            color: $color-white;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 0 29px;
        }

        a {}
    }
    // text : end
}