<div class="b-our-liquid">
    <div class="b-our-liquid__inner-wrapper">

        <!-- images : begin -->
        <div class="b-our-liquid__images">
            <img src="../dist/img/our-liquid/2.png" alt="">
        </div>
        <!-- images : end -->

        <!-- text : begin -->
        <div class="b-our-liquid__text">

            <h2>Еще мы выпускаем<br>собственные жидкости</h2>
            <img src="../dist/img/our-liquid/3.png" alt="">
            <p>Линейка жидкостей Animals от VapeTemple.<br>360 руб за 100 мл жидкости<br>для электронных сигарет - PG/VG 30/70 </p>
            <a href="#" class="b-button">Узнать больше</a>

        </div>
        <!-- text : end -->

    </div>
</div>