/*
** COLORS VARIABLES
*/

$color-white: #d4d4d4;
$color-white-2: #fefefe;
$color-white-3: #ffffff;
$color-white-4: #fbfbfb;
$color-white-5: #cfcfcf;
$color-white-6: #999aa0;
$color-white-7: #f9fbfc;
$color-white-8: #d8d8d8;
$color-bg: #f1f1f1;
$color-black: #000000;
$color-black-2: #03141c;
$color-yellow: #ffab00;
$color-blue: #275c9b;
$color-blue-2: #66a9e1;
$color-blue-dark: #0d111e;
$color-gray: #7b7b7b;
$color-gray-2: #8d8f95;
$color-gray-3: #4b4b4b;
$color-gray-4: #898989;