/*
** OFFERS
*/

.b-offers {
    position: relative;
    overflow: hidden;

    // item
    &__item {
        position: relative;

        &.-turquoise {
            background: #39e5e9;
        }

        &.-white {
            background: #e0dfd7;
        }

        &.-bluish-black {
            background: #0d111e;
        }

        &.-ultramarine-yellow-peach {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2103a4+0,ffd8a5+100 */
            background: #2103a4; /* Old browsers */
            background: -moz-linear-gradient(left, #2103a4 0%, #ffd8a5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #2103a4 0%,#ffd8a5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #2103a4 0%,#ffd8a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2103a4', endColorstr='#ffd8a5',GradientType=1 ); /* IE6-9 */
        }

        &.-burgundy {
            background: #770739;
        }
    }

    // wrapper : begin
    &__wrapper {
        height: 300px;
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    // wrapper : end

    // img left
    &__img-left {
        position: absolute;
        left: 0;
        top: 0;

        @include breakpoint($first-breakpoint) {
            left: -25vw;
        }

        @include breakpoint($second-breakpoint) {
            left: -30vw;
        }
    }

    // text : begin
    &__text {
        width: 300px;
        position: absolute;
        right: 163px;
        top: 0;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;

        img {
            display: block;
            margin: 0 0 12px;
        }

        p {
            color: $color-blue-dark;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            width: 300px;
            margin: 0 0 20px;
        }

        a {}
    }
    // text : end

    // img right
    &__img-right {
        position: absolute;
        right: -63px;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
    }
}