/*
** CATALOG PREVIEW
*/

.b-catalog-preview {
    padding: 11px 10px 50px 10px;
    overflow: hidden;

    .container {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }

    // text block
    &__text-block {
        width: 33.33%;
    }

    // title
    &__title {
        color: $color-blue-dark;
        font-family: $title-font;
        font-weight: 400;
        font-size: 30px;
        line-height: 1;
        margin: 0 0 52px;
    }

    // text
    &__text {
        margin: 0 0 45px;

        p {
            color: $color-blue-dark;
            font-family: $text-font;
            font-size: 14px;
            line-height: 1.428;
            font-weight: 400;
            margin: 0 0 20px;

            b {
                font-weight: 700;
            }
        }
    }

    // search form : begin
    &__search-form {
        position: relative;

        input[type="text"] {
        }

        button {
            background-image: linear-gradient(to top, #275c9b 0%, #5a8ecd 100%);
            width: 40px;
            height: 40px;
            border-radius: 0 5px 5px 0;
            border: none;
            outline: none;
            position: absolute;
            top: 0;
            right: 0;

            &:after {
                content: '';
                display: block;
                @include sprite($icon-search);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
    // search form : end

    // list : begin
    &__list {
        width: 66.66%;

        ul {
            height: 460px;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;

            li {
                margin: 0;
                padding: 0;
                width: 220px;
                height: 220px;
                background: url(../img/catalog-preview/1.png) 0 0 no-repeat;
                position: absolute;
                
                &.blue {
                    background-image: url(../img/catalog-preview/2.png);

                    a {
                        color: $color-white-3;
                    }
                }

                &:first-child {
                    right: 0;
                    top: 0;
                    
                    &:after{
                        content: '';
                        display: block;
                        width: 100vw;
                        height: 1px;
                        background: $color-white-4;
                        position: absolute;
                        right: -100vw;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:nth-child(2) {
                    right: 360px;
                    bottom: 120px;

                    &:after{
                        content: '';
                        display: block;
                        width: 25px;
                        height: 1px;
                        background: $color-white-4;
                        position: absolute;
                        right: -25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:nth-child(3) {
                    right: 120px;
                    bottom: 120px;

                    &:after{
                        content: '';
                        display: block;
                        width: 100vw;
                        height: 1px;
                        background: $color-white-4;
                        position: absolute;
                        right: -100vw;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:nth-child(4) {
                    right: 240px;
                    bottom: 0;

                    &:after{
                        content: '';
                        display: block;
                        width: 25px;
                        height: 1px;
                        background: $color-white-4;
                        position: absolute;
                        right: -25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &:last-child {
                    right: 0;
                    bottom: 0;

                    &:after{
                        content: '';
                        display: block;
                        width: 100vw;
                        height: 1px;
                        background: $color-white-4;
                        position: absolute;
                        right: -100vw;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                a {
                    width: 220px;
                    height: 220px;
                    color: #275c9b;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.666;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    span {
                        display: block;
                    }
                }
            }
        }
    }
    // list : end
}