<div class="b-catalog-preview">
    <div class="container">

        <!-- text block : begin -->
        <div class="b-catalog-preview__text-block">

            <!-- title / text -->
            <h2 class="b-catalog-preview__title">В первую очередь,<br>Vape Temple &mdash;<br>это интернет-каталог</h2>
            <div class="b-catalog-preview__text">
                <p>Срок доставки по Москве обычно составляет один день с момента заказа при наличии товара на складе.Или какой-нибудь другой замечательный текст про интернет-магазин.</p>
                <p>Или какой-нибудь другой замечательный текст про интернет-магазин. Или какой-нибудь другой замечательный текст.</p>
            </div>

            <!-- search form : begin -->
            <form action="" class="b-form b-catalog-preview__search-form">
                <input type="text" placeholder="Поиск по каталогу...">
                <button type="submit"></button>
            </form>
            <!-- search form : end -->

        </div>
        <!-- text block : end -->

        <!-- list : begin -->
        <div class="b-catalog-preview__list">
            <ul>
                <li><a href="#"><span>Дрипки, баки,<br>клиромайзеры</span></a></li>
                <li><a href="#"><span>Электронные<br>сигареты</span></a></li>
                <li class="blue"><a href="#"><span>Ароматизаторы<br>и основы</span></a></li>
                <li><a href="#"><span>Жидкости<br>для электронных<br>сигарет</span></a></li>
                <li><a href="#"><span>Комплектующие</span></a></li>
            </ul>
        </div>
        <!-- list : end -->

    </div>
</div>