/*
** FOOTER PAGE
*/

.b-footer {
    background: $color-blue-dark;
    padding: 0;
    width: 100%;
    overflow: hidden;

    .container {
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    // logotype
    &__logo {
        display: flex;
        align-items: center;

        a {
            display: block;
            @include sprite($icon-logo);
        }
    }

    // top : begin
    &__top {
        padding: 14px 0 9px;
        border-top: 1px $color-white solid;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 100vw;
            height: 1px;
            background: $color-white;
            position: absolute;
            left: 0;
            top: 30px;
            z-index: 1;
        }

        &:after {
            content: '';
            display: block;
            width: 100vw;
            height: 1px;
            background: $color-gray-2;
            position: absolute;
            left: 0;
            bottom: 32px;
            z-index: 1;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }
    }
    // top : end

    // bottom : begin
    &__bottom {
        .container {
            //height: 79px;
            display: flex;
            padding: 0  0 33px;
            justify-content: center;
            align-items: center;
        }

        p {
            color: $color-white-5;
            font-family: $text-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            text-align: center;
        }
    }
    // bottom : end

    // list of links : begin
    &__list-of-links {
        position: relative;
        z-index: 2;

        // list
        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin: 0;
                padding: 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.875;
                color: $color-blue;
                text-align: center;

                a {
                    color: $color-blue;
                    text-decoration: none;

                    &.-active,
                    &:hover {
                        color: $color-blue-2;
                    }
                }
            }
        }
    }
    // list of links : end

    // title
    &__title {
        color: $color-white-3;
        font-family: $title-font;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.875;
        text-align: center;
        margin: 0 0 9px;
        display: inline-block;
        border-left: 15px $color-blue-dark solid;
        border-right: 15px $color-blue-dark solid;
        background: $color-blue-dark;
    }

    // social services : begin
    &__social-services {
        display: flex;
        justify-content: center;
        margin: 4px 0 0;

        &-vk {
            display: block;
            @include sprite($icon-vk);
            margin: 0 5px;
        }

        &-facebook {
            display: block;
            @include sprite($icon-facebook);
            margin: 0 5px;
        }

        &-youtube {
            display: block;
            @include sprite($icon-youtube);
            margin: 0 5px;
        }
    }
    // social services : end

    // message
    &__message {
        border: 1px $color-white solid;
        outline: 10px $color-blue-dark solid;
        background: $color-blue-dark;
        z-index: 2;
        padding: 9px 6px 10px 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    // age
    &__age {
        width: 62px;
        height: 62px;
        border-radius: 31px;
        border: 2px $color-white-3 solid;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px;

        span {
            display: block;
            line-height: 1;
            text-align: center;
            color: $color-white-3;
            font-family: $title-font;
            font-size: 24px;
            font-weight: 700;
        }
    }

    // text
    &__message-text {
        text-align: center;
        color: $color-white;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.428;
    }
}