/*
** HEADER PAGE
*/

.b-nav-add {
    width: 100%;
    position: relative;
    left: 0;
    top: -39px;
    margin: 0 0 -39px;

    // top : begin
    &__top {
        border-bottom: 1px $color-white-6 solid;
        height: 40px;
        display: flex;
        align-items: center;

        ul {
            width: 960px;
            padding: 0 10px 0 170px;
            margin: 0 auto;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                margin: 0;
                padding: 0;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.666;
                    color: $color-white;

                    &.-active,
                    &:hover {
                        color: $color-white-3;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    // top : end

    // wrapper
    &__wrapper {
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        display: none;

        &.-active {
            display: flex;
        }
    }

    // bottom : begin
    &__bottom {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222633+0,275c9b+100 */
        background: #222633; /* Old browsers */
        background: -moz-linear-gradient(top, #222633 0%, #275c9b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #222633 0%, #275c9b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #222633 0%, #275c9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222633', endColorstr='#275c9b', GradientType=0); /* IE6-9 */
        padding: 0 0 9px;

        &.-hide {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0;
                padding: 0;

                a {
                    text-decoration: none;
                    color: $color-bg;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 2.142;
                }
            }
        }
    }
    // bottom : end
}