<div class="b-nav-add">

    <!-- top : begin -->
    <div class="b-nav-add__top">
        <ul>
            <li><a href="#" class="-active">Animals</a></li>
        </ul>
    </div>
    <!-- top : end -->

</div>