/*
** NAVIGATION
*/

.b-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;

        li {
            margin: 0;
            padding: 0;
            text-align: center;
            width: 25%;

            a {
                color: $color-white-2;
                font-family: $title-font;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.666;
                text-decoration: none;

                &.-active,
                &:hover {
                    border-bottom: 1px $color-white-2 solid;
                }
            }
        }
    }
}