/*
** CONTACTS
*/

.b-contacts {
    background: url("../img/contacts/1.png") no-repeat right center;
    padding: 70px 0;

    // text : begin
    &__text {
        width: 960px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;

        h3 {
            color: $color-blue-dark;
            font-family: $title-font;
            font-weight: 400;
            font-size: 30px;
            line-height: 1;
            margin: 0 0 44px;
            width: 100%;
            max-width: 390px;
        }

        p {
            color: $color-black;
            font-family: $text-font;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.42;
            margin: 0 0 20px;
            width: 100%;
            max-width: 390px;

            span {
                font-size: 16px;
                font-weight: 400;
            }

            b {
                font-size: 16px;
                font-weight: 700;
            }
        }

        .b-button {
            margin: 17px 0 0 0;
        }
    }
    // text : end
}