/*
** BUTTON
*/

// default btn mixin : begin
@mixin btn-default($background, $color) {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0 17px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    color: $color;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    background: $background;
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
        transition: all 0.2s ease;
    }

    &:active {
        transition: box-shadow 0.2s ease-in;
    }
}
// default btn mixin : end

// class : begin
.b-button {
    // default
    @include btn-default(
        $color-yellow, // $background
        $color-black-2 // $color
    );

    // gradient
    &.-gradient {
        height: 50px;
        line-height: 50px;
        border-radius: 3px;
        border: 1px solid #ee0802;
        background-color: #0d111e;
        background-image: linear-gradient(to right, #ff0700 0%, #ffab38 100%);
        text-shadow: 1px 1px 0 rgba(30, 30, 30, 0.44);
        color: $color-white-3;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        padding-left: 63px;

        &:after {
            content: '';
            display: block;
            @include sprite($icon-basket);
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            content: '';
            display: block;
            width: 1px;
            height: 40px;
            box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.75);
            position: absolute;
            background: $color-white;
            left: 50px;
            top: 50%;
            transform: translateY(-50%)
        }
    }

    // basket
    &.-basket {
        width: 71px;
        position: absolute;
        right: -1px;
        bottom: -1px;
        height: 61px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.28);
        border: 1px solid #ee0802;
        border-radius: 0 0 0 0;
        background-image: linear-gradient(131deg, #ff0700 0%, #ffab38 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease;

        &:hover {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.28), inset 3px 4px 5px rgba(0, 0, 0, 0.26);
            border: 1px solid #ee0802;
            background-color: #ee0802;
            background-image: linear-gradient(131deg, #ee0802 0%, #ee0802 100%);
            transition: all 0.1s ease;
        }

        &:after {
            content: '';
            display: block;
            @include sprite($icon-basket);
        }
    }

    // blue
    &.-blue {
        border-radius: 4px;
        background-color: #275c9b;
        color: $color-white-3;
        background-image: linear-gradient(to top, #275c9b 0%, #5a8ecd 100%);
    }
}
// class : end