<!DOCTYPE HTML>
<html>
<head>
    <!-- BASE -->
    <meta charset="utf-8">
    <title>Каталог - Vape Temple</title>

    <!-- SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- disable select tel. and skype numbers -->
    <meta name="format-detection" content="telephone=no">
    <meta name="skype-toolbar" content="skype-toolbar-parser-compatible">

    <!-- FAVICONS (http://favicon-generator.org) -->

    <!-- CSS -->
    <link rel="stylesheet" href="/dist/css/vape-temple-project.min.css">
    <!--<link rel="stylesheet" href="/dist/css/vape-temple-project.css">-->
</head>

<body>
<!-- HEADER PAGE : begin -->
<%include src="../../public/blocks/dev/header/b-header.html"%>
<!-- HEADER PAGE : end -->

<!-- ADDITIONAL NAVIGATION : begin -->
<%include src="../../public/blocks/nav-add/b-nav-add.html"%>
<!-- ADDITIONAL NAVIGATION : end -->

<!-- BREADCRUMBS : begin -->
<%include src="../../public/blocks/dev/breadcrumbs/b-breadcrumbs.html"%>
<!-- BREADCRUMBS : end -->

<!-- BREADCRUMBS : begin -->
<%include src="../../public/blocks/catalog/b-catalog.html"%>
<!-- BREADCRUMBS : end -->

<!-- FOOTER PAGE : begin -->
<%include src="../../public/blocks/dev/footer/b-footer.html"%>
<!-- FOOTER PAGE : end -->

<!-- AUTHENTICATION : begin -->
<%include src="../../public/blocks/auth/b-auth.html"%>
<!-- AUTHENTICATION : end -->

<!-- JS -->
<script src="/dist/js/vape-temple-project.min.js"></script>
<!--<script src="/dist/js/vape-temple-project-base.js"></script>-->
<!--<script src="/dist/js/vape-temple-project-run.js"></script>-->
</body>
</html>