/*
** AUTHENTICATION
*/

.b-auth {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color-blue-dark, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.-hide {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &__wrapper {
        width: 320px;
        position: relative;
        z-index: 2;
    }

    // title
    &__title {
        color: $color-blue-dark;
        font-family: $title-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.111;
        text-align: center;
        margin: 0 0 20px;
    }

    // form : begin
    .b-form {
    }

    &__text-input {
        text-align: center;
        margin: 0 0 10px;
        position: relative;

        input {
            text-align: center;
        }

        &.-error {
            &:after {
                content: '!';
                display: block;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #ff0700;
                border-radius: 10px;
                color: $color-white-3;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
            }
        }
    }

    &__btn-and-restore-pass {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .b-button {
            width: 140px;
        }

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: $color-gray-4;
            text-decoration: none;
            margin: 0 20px 0 0;
        }
    }
    // form : end

    // top : begin
    &__top {
        background: $color-bg;
        padding: 20px;
        margin: 0 0 30px;
    }

    // bottom : begin
    &__bottom {
        background: $color-bg;
        padding: 20px;

        p {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: $color-blue-dark;

            a {
                color: $color-blue;
                text-decoration: underline;
            }
        }
    }

    // overlay
    &__overlay {
        opacity: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}