<header class="b-header js-header">
    <!-- top block : begin -->
    <div class="b-header__top-block">
        <div class="container">

            <!-- phone number -->
            <div class="b-header__phone-number">
                <span>8 (499) 576-68-99</span>
            </div>

            <!-- links -->
            <div class="b-header__links">
                <a href="#">Оплата и доставка</a>
                <a href="#">Контакты</a>
            </div>

            <!-- authorization -->
            <div class="b-header__auth">
                <div><a href="#" class="js-reg-controller">Зарегистрироваться</a> / <a href="#" class="js-auth-controller">Войти</a></div>
            </div>

        </div>
    </div>
    <!-- top block : end -->

    <!-- bottom block : begin -->
    <div class="b-header__bottom-block">
        <div class="container">

            <!-- logotype -->
            <div class="b-header__logo">
                <a href="#"></a>
            </div>

            <!-- navigation : begin -->
            <nav class="b-nav b-header__nav">
                <ul>
                    <li><a href="#">Кафе</a></li>
                    <li><a href="#" class="-active">Каталог</a></li>
                    <li><a href="#">Рецепты</a></li>
                    <li><a href="#">Жидкости</a></li>
                </ul>
            </nav>
            <!-- navigation : end -->

            <!-- search : begin -->
            <div class="b-header__search">
                <a href="#"></a>
            </div>
            <!-- search : end -->

            <!-- basket : begin -->
            <div class="b-header__basket">
                <a href="#"></a>
            </div>
            <!-- basket : end -->

        </div>
    </div>
    <!-- bottom block : end -->
</header>