/*
** HEADER PAGE
*/

.b-header {
    // top block
    &__top-block {
        background: $color-white;

        .container {
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    // bottom block
    &__bottom-block {
        background: $color-blue-dark;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            background: #8d8f95;
            position: absolute;
            left: 0;
            top: 90px;
        }

        .container {
            height: 130px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    // phone number
    &__phone-number {
        span {
            display: block;
            color: $color-blue-dark;
            font-weight: 400;
            padding: 0 0 0 21px;
            position: relative;

            &:before {
                content: '';
                display: block;
                @include sprite($icon-phone);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    // links
    &__links {
        a {
            color: $color-blue-dark;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
            margin: 0 16px;
        }
    }

    // authorization
    &__auth {
        div {
            a {
                color: $color-blue-dark;
                font-size: 14px;
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }

    // logotype
    &__logo {
        width: 160px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 90px;
            width: 134px;
            height: 1px;
            background: $color-blue-dark;
            z-index: 1;
        }

        a {
            display: block;
            position: relative;
            z-index: 2;
            @include sprite($icon-logo);
        }
    }

    // navigation : begin
    &__nav {
        width: 640px;
        padding-left: 10px;
        padding-right: 10px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    // navigation : end

    // search : begin
    &__search {
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            @include sprite($icon-search);
        }
    }
    // search : end

    // basket : begin
    &__basket {
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        height: 90px;
        align-items: center;

        a {
            position: relative;
            border-radius: 9px;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to top, #275c9b 0%, #5a8ecd 100%);

            &:before {
                content: '';
                display: block;
                @include sprite($icon-basket);
            }
        }
    }
    // basket : end
}